*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines what 1rem is*/
  /*1 rem = 12px;  */
  font-size: 12px;

  text-rendering: optimizeLegibility;
}

body {
  box-sizing: border-box;

  font-family:  "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400, 700;
  line-height: 1.7;
  color: #777777;
}

.sidebar{
  width: 160px;
  background-color: #9BB2D1;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  overflow-x: hidden;
  padding-top: 10rem;
  z-index: 1;
}

/* The navigation menu links */
.sidebar li {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #9D6C19;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #9D6C19;
}


.main-layout{
  margin-left: 160px; 
}

footer{
  color: #777777;
}