header.home-page {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(../images/header_img.jpg);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8)
    ),
    url(../images/header_img.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  color: #f3fafe;
}



header nav {
  position: absolute;
  height: 8vh;
  top:0rem;
  width: 100%;
  background-color: #9bb2d1;
}

.header__logo-box {
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.header__logo {
  height: 3.5rem;
}

.header__userinfo {
  position: absolute;
  top: 0.3rem;
  right: 12rem;
  color: #fff;
  height: 8vh;
  text-align: right;
 
}

.login_button{
  margin-top: 1rem;
}



.header__text-box {
  position: absolute;
  top: 25%;
  margin-left: 25%;
  text-align: center;
  width: 50%;
}
